body {
    background-Color:rgb(48, 48, 48);
}

#contenedorLista{
    background-Color:rgb(48, 48, 48);
    padding:20px;
    text-align: center;
}

.containerTask{
    background-Color: white;
    padding: 30px;
    margin: 20px 15px;
    font-family: 'Raleway', sans-serif;
}

.title{
    color: white;
}

.todo_input, .todo_button{
    border-radius: 5px;
    border:none;
    margin: 2px;
}

.todo_input{
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    color: #000;
}

#text {
    outline: none;
}

#text:hover, #text:focus {
    border: 1px solid rgb(39, 119, 240);
}

.todo_button{
    background-color: rgb(39, 119, 240);
    color: white;
    width: 50px;
    height: 30px;
}

.todo_button:focus{
    outline: none;
}

#list{
    list-style:none;
}

.todo-list  {
    display: grid;
    grid-template-columns: 2fr 50px 50px;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 15px 0;
    font-size: 1rem;
    color: #000000;
}

ol {
    padding: 0;
    text-align: left;
}

.check{
    margin-right: 50px;
    font-size: 20px;
}

.delete_btn,.complete_btn{
    border-radius: 6px;
    background-color: #e53935 ;
    border:none;
    color:white;
    width: 50px;
    height: 30px;
    
}

.delete_btn:focus,.complete_btn:focus{
    outline: none;
}

.complete_btn{
    background-color: #43a047;
}

.delete_btn,.complete_btn{
    margin-right:10px;
    margin-top: 10px;
}
 
.completedItem{
    text-decoration: line-through;
    opacity: 0.5;
    transform: scale(0.96);
}

/* Media queries */

@media (max-width: 575.98px) { 
    .check{
        font-size: 15px;
        text-align: left;
    }
    .todo_input{
        font-size: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .check{
        font-size: 18px;
        text-align: left;
    }
    .todo_input{
        font-size: 18px;
        width: 200px;
    }

}
@media (min-width: 768px) and (max-width: 991.98px) {
    .check{
        font-size: 19px;
        text-align: left;
    }
    .todo_input{
        font-size: 19px;
        width: 300px;
    }
 }
 @media (min-width: 992px) and (max-width: 1199.98px) { 
    .todo_input{
        width: 400px;
    }
  }

 @media (min-width: 1200px) { 
    .check{
        font-size: 22px;
        text-align: left;
    }
    .todo_input{
        font-size: 20px;
        width: 500px;
    }
    .todo_button{
        width: 55px;
        height: 32px;
    }
 }
