body {
    background-Color:rgb(48, 48, 48);
}

#contenedorLista{
    background-Color:rgb(48, 48, 48);
    padding:20px;
    text-align: center;
}

.containerTask{
    background-Color: white;
    padding: 30px;
    margin-Top: 20px;
    font-family: 'Raleway', sans-serif;
}

.title{
    color: white;
}

.todo_input, .todo_button{
    border-radius: 5px;
    border:none;
    margin: 2px;
}

.todo_input{
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    color: #3f3e3e;
}

#text {
    outline: none;
}

#text:hover, #text:focus {
    border: 1px solid rgb(39, 119, 240);
}

.todo_button{
    background-color: rgb(39, 119, 240);
    color: white;
    width: 50px;
    height: 30px;
}

.todo_button:focus{
    outline: none;
}

#list{
    list-style:none;
}

.todo-list  {
   display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 15px 0;
    font-size: 1rem;
    color: #595959;
}

ol {
    padding: 0;
    text-align: left;
}

span{
    font-size: 20px;
}

.check{
    margin-right: 50px;
}

.delete_btn,.complete_btn{
    border-radius: 6px;
    background-color: #e53935 ;
    border:none;
    color:white;
    width: 50px;
    height: 30px;
}

.delete_btn:focus,.complete_btn:focus{
    outline: none;
}

.complete_btn{
    background-color: #43a047;
}

.delete_btn,.complete_btn{
    margin-right:10px;
    margin-top: 10px;
}
 
.completedItem{
    text-decoration: line-through;
    opacity: 0.5;
    transform: scale(0.96);
}

/* Media queries */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 992px) { 

    .todo-list  {
        justify-content: center;
     }
     
}
