#contenedorLista{
    background-Color:black;
    padding:20px;
    text-align: center;
}

.container{
    background-Color: white;
    padding: 20px;
    margin-Top: 20px;
    text-align: left;
}

.title{
    color: white;
}

#ol-list{
    list-style:none;
}

.containerChild{
    display: grid;
    align-items: baseline;
    grid-template-columns: 350px 1fr;
    grid-column-gap: 10px;
    padding: 10px 200px;
}

span{
    padding-left: 50px;
    font-size: 20px;
    font-weight: 600;
}

.remove-task{
    border-radius: 6px;
    background-color: #DB5461;
    border:none;
    color:white;
    width: 100px;
    height: 50px;
}
